BOOT_ROOT       := $(ROOT)/boot
KERNAL_ROOT     := $(ROOT)/kernal
LIBC_ROOT       := $(ROOT)/libc

ARM_TOOLCHAIN   := $(ROOT)/toolchain/bin/arm-none-eabi-gcc
QEMU            := $(ROOT)/qemu/bin/qemu-system-arm

LINKER_FLAGS    :=  -ffreestanding -O2 -nostdlib
C_FLAGS         :=  -mcpu=cortex-a7 -fpic -ffreestanding -std=gnu99 -c -O2 -Wall -Wextra
C_INC_FLAGS     :=  -I$(ROOT)
ASM_FLAGS       :=  -mcpu=cortex-a7 -fpic -ffreestanding -c
QEMU_FLAGS      :=  -m 1024 -M raspi2 -serial stdio -kernel