ARCH_ROOT       := $(ROOT)/arch/arm/stm32
KERNAL_ROOT     := $(ROOT)/kernal
LIBC_ROOT       := $(ROOT)/libc

ARM_TOOLCHAIN   := $(ROOT)/toolchain/bin/arm-none-eabi-gcc
OBJCOPY         := $(ROOT)/toolchain/bin/arm-none-eabi-objcopy
STFLASH         := st-flash
GDB             := openocd

LINKER_FLAGS    :=  -ffreestanding -O0 -nostdlib -Wall -g
CFLAGS          :=   -O0 -Wall -c -nostdlib -mcpu=cortex-m4 -mthumb -std=gnu99 -c -O0 -Wall -Wextra -g
C_INC_FLAGS     :=  -I$(ROOT)
ASM_FLAGS       :=  -mcpu=cortex-a7 -fpic -ffreestanding -c
OBJ_FLAGS       :=  -O binary 
STFLASH_FLAGS   :=  --reset write
GDB_FLAGS       :=  -f board/stm32429i_eval_stlink.cfg