ARCH_ROOT       := $(ROOT)/arch/arm/stm32
KERNAL_ROOT     := $(ROOT)/kernal
LIBC_ROOT       := $(ROOT)/libc

ARM_TOOLCHAIN   := $(ROOT)/toolchain/bin/arm-none-eabi-gcc
OBJCOPY         := $(ROOT)/toolchain/bin/arm-none-eabi-objcopy
STFLASH         := st-flash
GDB             := st-util
QEMU            := $(ROOT)/qemu/bin/qemu-system-arm

LINKER_FLAGS    :=  -ffreestanding -O0 -nostdlib -Wall
C_FLAGS         :=   -O0 -Wall -c -g -nostdlib -mcpu=cortex-m4 -mthumb -std=gnu99 -c -O0 -Wall -Wextra -g
C_INC_FLAGS     :=  -I$(ROOT)
ASM_FLAGS       :=  -mcpu=cortex-a7 -fpic -ffreestanding -c
OBJ_FLAGS       :=  -O binary 
GDB_FLAGS       :=  
QEMU_FLAGS      :=  -m 1024 -M raspi2 -serial stdio -kernel